/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

h1, h3 span{
  font-family: serif;
}

.brand-logo {
  margin-top: 8px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.container-sub-title {
  align-items: center;
  display: flex;
  min-height: 300px;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  color: rgba(255,255,255,.9);
  height: auto;
  line-height: 0;
  min-height: 580px;
}

.parallax-container-bottom {
  flex: 1;
  display: flex;
  height: 580px;
  align-items: flex-end;
  justify-content: center;
}

.parallax-container-bottom div:first-child {
  /* height: 200px; */
  align-items: center;
  background-color: rgba(52, 123, 66, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}


.parallax-container-bottom div:first-child p {
  text-align: center;
  width: 70%;
}

.parallax-container-bottom div:first-child h3 {
  font-size: 25px;
}

.parallax-container .section {
  width: 100%;
}

.image-separator {
  height: 50px;
  margin-top: 20px;
  width: 50px;
}

.carousel-text-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.carousel-text-container div:first-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.carousel-text-container div:first-child p {
  text-align: center;
}

.carousel .indicators .indicator-item.active {
  background-color: #00796b !important;
}

.carousel .indicators .indicator-item {
  background-color: rgba(52, 123, 66, 0.4) !important;
}

.carousel-arrow-container {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 150px;
  z-index: 1;
}

.carousel-arrow-container i {
  color: #00796b;
  font-size: 100px;
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}

.image-comment {
  background-repeat: no-repeat;
  background-image: url(../assets/comment-img.svg);
  height: 50px;
  width: 50px;
}

.openmap {
  height: 500px;
}

/* media queries */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
 
  h2 {
    font-size: 30px;
  }

 .brand-logo img {
  width: 250px;
  margin-left: 16px;
  margin-bottom: 5px;
 }

 .carousel-arrow-container {
  width: 48px;
 }

}